* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    background-color: bisque;
}

main {
    width: 600px;
    background-color: azure;
    font-size: 14px;
    box-shadow: 0 0 10px #666;
    margin: 10px auto;
    padding: 10px;
}

#principal {
    background-color: aliceblue;
    border: 1px dotted #666;
    margin-top: 20px;
}

section {
    height: 100px;
    width: 100px;
    padding: 10px;
}

.janela1 {
    background-color: green;
    position: relative;
    margin-top: 10px;
    margin-left: 10px;
}

.janela2 {
    background-color: yellow;
}

.janela3 {
    background-color: blue;
}