div{
    width: 200px;
    height: 200px;
    margin-bottom: 50px;
    border: 2px solid black;
}

.borrder{
    border: 1px dotted blue;
}

.bola{
       border-radius: 50px;
       background-color: blueviolet;

}
.sombra{

box-shadow: 10px  10px  10px  green;

}